@import './stylesheet.css';

@media screen {
  * {
    /* colors */
    --secondary-color: #64b9ffff;
    --background-color: #ffffffff;
    --background-light: #f9f9fa;
    --primary-color: #333545ff;
    --fade-color: #c2c2c4;


    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-weight: 300;
    font-family: 'Poppins';
    color: var(--primary-color);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: var(--background-light);
  }

  a,
  router-link {
    text-decoration: none;
  }

  input {
    outline: none;
    border: none;
  }

  input:focus,
  input:hover {
    outline: none;
  }

  .icon {
    width: 18px;
    height: 18px;
    fill: var(--secondary-color);
  }

  button {
    outline: none;
    border: none;
  }

  .error {
    width: 100%;
    display: flex;
    height: inherit;
    align-items: center;
    border-radius: inherit;
    justify-content: center;
  }
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--fade-color);
}

*::-webkit-scrollbar-track {
  background: var(--primary-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border: 4px solid var(--fade-color);
  border-radius: 30px;
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 4px;
    
  }
}
/* ipad pro screens & laptop */
@media only screen and (min-width: 49em) and (max-width: 64em) {
}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
}
